<html lang="ja-jp">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Noto+Serif+JP:wght@500;900&display=swap&subset=japanese"
          rel="stylesheet">

    <script src="{{ url_for('static', filename='kanji_drills/script.js') }}"></script>
    <link href="{{ url_for('static', filename='kanji_drills/style.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="nav">
            <form class="form-inline">
                <div class="input-group">
                    <span class="input-group-text">Level: ${info['level']}/${info['levels']}</span>
                    <div class="input-group-append">
                        <a class="btn btn-success" type="button" href="${info['prev_level_url']}"><< Prev</a>
                        <a class="btn btn-success" type="button" href="${info['next_level_url']}">Next >></a>
                    </div>
                </div>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

                <div class="input-group">
                    <a class="btn btn-warning kj-on-off-toggle" href="#">ON/OFF</a>
                    <div class="input-group-append">
                        <a class="btn btn-warning kj-random" href="#">RAND</a>
                        <a class="btn btn-warning kj-show-hide-toggle" href="#"
                        title="You can select a kanji by pressing CTRL+CLICK. All NOT selected kanji will show/hide">SHOW/HIDE</a>
                        <a class="btn btn-info kj-show-advanced-modal" href="#">
                            ADVANCED
                        </a>
                        <div class="input-group-text">
                            <div class="form-check">
                                <input type="checkbox" id="mouse-over" class="form-check-input kj-mouseover-toggle"/>
                                <label class="form-check-label" for="mouse-over">MOUSEOVER</label>
                            </div>
                        </div>
                    </div>
                </div>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

            </form>
        </div>
    </div>
    <div class="row">

        <div class="kj-container">
            <ul class="kj-grid"><!--
                % for k in kanji:
            --><li class="kj-element">
                    <span class="kj-link">
                        <span class="kj-character" lang="ja" data-kanji="${k['kanji']}">${k['kanji']}</span>
                        <ul class="kj-subsection">
                            <li class="kj-reading invisible">${k['reading']}</li>
                            <li class="kj-meaning invisible">${k['meaning']}</li>
                        </ul>
                    </span>
            </li><!--
                % endfor
            -->
            </ul>

        </div>

    </div>
</div>


<div class="modal fade" id="advancedModal" tabindex="-1" aria-labelledby="advancedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="advancedModalLabel">Advanced Filtering</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        <label for="adv-level">Level</label>
                        <div class="input-group">
                            <input type="number" min="1" class="form-control" id="adv-level">
                            <div class="input-group-append">
                                <button class="btn btn-success kj-level-down">-</button>
                                <button class="btn btn-success kj-level-up">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="adv-size">Size</label>
                        <div class="input-group">
                            <input type="number" min="0" class="form-control" id="adv-size">
                            <div class="input-group-append">
                                <button class="btn btn-success kj-set-size" data-size="50">50</button>
                                <button class="btn btn-success kj-set-size" data-size="150">150</button>
                                <button class="btn btn-success kj-set-size" data-size="500">500</button>
                                <button class="btn btn-success kj-set-size" data-size="2100">All</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="seed">Seed</label>
                        <input type="text" class="form-control" id="seed" />
                    </div>
                    <div class="form-group row">
                        <label for="by-frequency">Sort by frequency (ignores seed)</label>
                        <input type="checkbox" class="form-control" id="by-frequency" />
                    </div>
                    <div class="form-group row">
                        <label for="adv-only">Show Only</label>
                        <textarea class="form-control" id="adv-only" rows="3"></textarea>
                    </div>
                    <div class="row float-right">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text kj-adv-only-size">Size: 0</span>
                            </div>
                            <button class="btn btn-info kj-get-selected">Get Selected</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary kj-advanced-go">Apply</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>